@font-face {
    font-family: 'SanFrancisco';
    src: url('assets/fonts/sfuidisplay-regular-webfont.eot');
    src: url('assets/fonts/sfuidisplay-regular-webfont.eot?#iefix') 
    format('embedded-opentype'),
    url('assets/fonts/sfuidisplay-regular-webfont.woff2') format('woff2'),
    url('assets/fonts/sfuidisplay-regular-webfont.woff') format('woff'),
    url('assets/fonts/sfuidisplay-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
